    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/site.js -->
    <script src="scripts/site.js"></script>
    <!-- endbuild -->
  </body>
</html>
